<launch>
  <node name="robo2_test_actionmodel" pkg="robot2" type="robo2_test_actionmodel"/>
  <node name="rob2_firework" pkg="robot2" type="rob2_firework"/>
  <node name="robo2_joy" pkg="robot2" type="robo2_joy"/>
  <node name="robo2_pc" pkg="robot2" type="robo2_pc"/>
  <node pkg="joy" type="joy_node" name="joy" respawn="true" >
    <param name="dev" type="string" value="/dev/input/js2" />
  </node>
</launch>